.navbar {
  height: 100%;
  width: rem(300px);
  padding: var(--mantine-spacing-xl);
  display: flex;
  flex-direction: column;
}

.navbarMain {
  flex: 1;
  background: #2c2f33;
  border-radius: 1rem;
}

.header {
  padding: var(--mantine-spacing-md) 0;
  margin-bottom: calc(var(--mantine-spacing-md) * 1.5);
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
  padding: var(--mantine-spacing-lg) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;

  .itemLabel {
    margin-left: 1rem;
  }

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  }

  &[data-active] {
    &,
    &:hover {
      background-color: var(--mantine-color-red-light);
      border-right: 5px solid var(--mantine-color-red-6);
      color: var(--mantine-color-red-6);

      .linkIcon {
        color: var(--mantine-color-red-6);
      }
    }
  }
}
